.header{
   display: flex;
   flex-direction: column;
   justify-content: center;
   

}

.title{
   font-size: 18px;
   font-family: monospace;
   letter-spacing: 20px;
   margin: 20px;
   text-align: center;

}
.login{
   display: flex;
   justify-content: center;
}
.login a{
   font-size: 14px;
   font-family: monospace;
   color: black;
}