.side_bar_wrapper__item{
   font-size: 14px;
   font-family: monospace;
   letter-spacing: 10px;
   padding: 10px 0px 10px 10px;
   display: block;
   transition-duration: 0.5s;
   color: black;
}
.side_bar_wrapper__item:hover{
   background-color:rgba(247, 247, 247, 0.43);
   transition-duration: 0.5s;
}

.side_bar_wrapper__item.activeLink{
   background-color: floralwhite;
   transition-duration: 0.5s;
}
.sidebar_wrapper{
   display: block;
   position: -webkit-sticky;
   position: sticky;
   top: 0px;
}


@keyframes showSideBar {
   0%{
      opacity: 0;
      top:-70px
   }
   100%{
      opacity: 1;
      top: 20px;
   }
}